<!doctype html>
<head>
    <title>Blog App</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.9/angular.js"></script>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <main class="main" ng-app="blogApp">
        <div class="container">
            <div ng-controller="blogController">
                <section class="section-block">
                    <h2>Articles number ({{ articles.length }})</h2>
                    <h2 ng-if="articles.length === 0">You have no articles!</h2>
                    <div class="articles">
                        <article class="article" ng-repeat="article in articles">
                            <div class="article-body">
                                <h3 class="article-title">{{ article.title }}</h3>                            
                                <div class="article-content">{{ article.content }}</div>
                            </div>
                        </article>
                    </div>
                </section>
                <section class="section-block">
                    <h2 class="add-post-form__title">Add an Article</h2>
                    <form class="add-post-form">
                        <input type="text" class="field-item" placeholder="Article title" ng-model="newArticleTitle">
                        <textarea class="field-item" rows="10" placeholder="Article text" ng-model="newArticleName">
                        </textarea>
                        <button type="button" class="btn add-post-btn" ng-click="addArticle()">Submit</button>
                    </form>
                </section>
            </div>
        </div>
    </main>
    <script src="articleApp.js"></script>
</body>
</html>