<!doctype html>
<head>
    <title>Blog App</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.9/angular.js"></script>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <main class="main" ng-app="blogApp">
        <div class="container">
            <div ng-controller="blogController">
                <section class="section-block">
                    <articles-details articles="articles"></articles-details>
                    <div class="articles">
                        <article class="article" ng-repeat="article in articles">
                            <div class="article-body">
                                <h3 class="article-title">{{ article.title }}</h3>                            
                                <div class="article-content">{{ article.content }}</div>
                            </div>
                        </article>
                    </div>
                </section>
                <section class="section-block">
                    <h2 class="add-post-form__title">Add an Article</h2>
                    <form ng-submit="addArticle(article, form)" name="form" class="add-post-form" novalidate>
                        <input type="text"
                            class="field-item"
                            placeholder="Article title"
                            name="aTitle"
                            ng-model="article.title"
                            required>
                        <div ng-show="form.$submitted || form.aTitle.$touched">
                            <p class="error" ng-show="form.aTitle.$error.required">Article title is mandatory.</p class="error">
                        </div>
                        <textarea
                            class="field-item"
                            rows="10"
                            placeholder="Article text"
                            name="aContent"
                            minlength="20"
                            ng-model="article.content"
                            required>
                        </textarea>
                        <div ng-show="form.$submitted || form.aContent.$touched">
                            <p class="error" ng-show="form.aContent.$error.required">Article content is mandatory.</p class="error">
                            <p class="error" ng-show="form.aContent.$error.minlength">Article content minlength is 20.</p class="error">
                        </div>
                        <button type="submit"
                            ng-disabled="form.$invalid"
                            class="btn add-post-btn">Submit</button>
                    </form>
                </section>
            </div>
        </div>
    </main>
    <script src="articleApp.js"></script>
    <script src="articlesDetails.js"></script>
</body>
</html>