<!doctype html>
<head>
    <title>Blog App</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.9/angular.js"></script>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <main class="main" ng-app="blogApp">
        <div class="container">
            <div ng-controller="blogController">
                <section class="section-block">
                    <articles-details articles="articles"></articles-details>
                    <div class="articles">
                        <article class="article" ng-click="editArticle(article)" ng-repeat="article in articles">
                            <div class="article-body">
                                <h3 class="article-title">{{ article.title }}</h3>                            
                                <div class="article-content">{{ article.content }}</div>
                            </div>
                        </article>
                    </div>
                </section>
                <section class="section-block">
                    <button class="btn" type="button" ng-click="showForm()">Add an Article</button>
                    <div ng-show="formVisible">
                        <article-add 
                        articles="articles"
                        article="article"
                        editing="editing"
                        on-add-article="addArticle(article, form)"
                        ></article-add>
                    </div>
                </section>
            </div>
        </div>
    </main>
    <script src="articleApp.js"></script>
    <script src="articlesDetails.js"></script>
    <script src="articleAdd.js"></script>
</body>
</html>